doctype html
html
   head
      title = "Federated Crypto Payment Address API"
   body
      h1 Federated Crypto Payment Address API
      p.greetings#This API looks up crypto wallet addresses from user-friendly, email-like addresses.
      p#For information on how to use this API, read the 
        a(href = "https://github.com/backupbrain/django-federated-crypto-address-api/blob/master/README.md") Federated Crypto Payment Address Specification
